.skills {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.skills-category {
  border-radius: 8px;
}

.skills-category-title {
  font-weight: 500;
  margin-bottom: 1rem;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.skills-list-item {
  background-color: var(--rp-surface);
  border-radius: 8px;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--rp-highlight-low);
    scale: 1.01;
  }
}

.skills-list-item-icon {
  width: 0.8rem;
  height: 0.8rem;
}

.skills-list-item-name {
  font-size: 0.8rem;
}
