.footer {
  width: 100%;
  border-top: 1px solid var(--rp-overlay);
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem auto 0.5rem;
  gap: 0.5rem;
  font-size: small;
}
